#save{
    padding-bottom: 20px;
}

image {
    width: 270px;
    height: 270px;
}

div.input-group{
    padding-bottom: 15px;
}

#form {
    padding: 20px;
}

#editingPhones {
    padding: 30px;
    padding-left: 0px;
}

thead{
    background-color: #0b0f16;
    color: white;
}

#phoneActions{
    float: right;
    padding-bottom: 5px;
}

#editingAttachments {
    padding: 30px;
    padding-left: 0px;
}

#attachmentActions{
    float: right;
    padding: 5px;
}

div.container-fluid{
    padding: 5px;
} 