/*header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: #2c3e50;
    color: #fff;
}*/

#form{
    padding: 20px;
}

div.input-group {
    padding-bottom: 15px;
}

#search{
/*    padding-bottom: 15px;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-container-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-info {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.input-group {
    height: 60px;
}
select.form-control:not([size]):not([multiple]) {
    height: 100%;
}